* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-family: sans-serif, Georgia;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	outline: none;
}

.container {
	background: #fafafa;
	height: 100vh;
}

	.cart {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0rem 3rem;
		height: 5rem;
		background: #fff;
		border-bottom: 1px solid #cfcfcf;
	}

		.title {
			color: #3498DB;
			font-size: 1.5rem;
		}

		.contCart {
			display: flex;
			position: relative;
			flex-direction: row;
			align-items: center;
			height: 100%;
		}

			.cartInfo {
				display: flex;
				justify-content: center;
				flex-direction: column;
				height: 5rem;
			}

				.cartInfo span {
					font-size: .8rem;
					color: #696969;
				}

			.buttonCart {
				padding: 1rem;
				cursor: pointer;
				height: 4rem;
			}

		.modalCart {
			display: block;
			position: absolute;
			top: 5.5rem;
			right: 0;
			width: 20rem;
			background: #fff;
			border: 1px solid #cfcfcf;
			border-radius: .2rem;
			z-index: 1000;
		}

			.emptyCart {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 5rem 0rem;
				color:  #cfcfcf;
			}

			.contItemsCart {
				overflow: auto;
				max-height: 20rem;
			}

			.itemModalCart {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				border-bottom: 1px solid #cfcfcf;
				padding: 1rem;
			}

			.itemModalCart:hover {
				background: #fafafa;
			}
				
				.productModal h3 {
					color: #696969;
				}
				
				.productModal span {
					color: #696969;
					font-size: .8rem;
				}

				.productModal p {
					display: none;
				}

				.buttonDelete {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 2rem;
					cursor: pointer;
				}

				.buttonDelete:hover {
					opacity: .5;
				}

					.buttonDelete img {
						height: .5rem;
					}

			.contButtonPay {
				margin: .5rem;
				cursor: pointer;
				text-align: center;
			}

	.shop {
		background: #fafafa;
		height: calc( 100% - 5rem);
		padding-top: 2rem;
	}


		.listShop {
			display: flex;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
		}

			.contProductShop {
				display: flex;
				align-items: center;
				flex-direction: column;
				justify-content: space-between;
				margin: 1rem;
				background: #fff;
				border: 1px solid #cfcfcf;
				border-radius: .2rem;
				overflow: hidden;
			}

				.productShop {
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					width: 15rem;
				}

					.productShop h3 {
						font-size: 1rem;
						text-align: center;
						line-height: 4rem;
						background: #fafafa;
						color: #696969;
						border-bottom: 1px solid #cfcfcf;
					}

					.productShop span {
						font-size: 1.2rem;
						text-align: center;
						color: #696969;
						padding: 1rem 0rem;
					}

					.productShop p {
						font-size: 1rem;
						text-align: center;
						color: #696969;
						padding: 1rem .5rem;
					}

					.buttonAdd {
						font-size: 1.1rem;
						background: #5DADE2;
						color: #fff;
						border-radius: .2rem;
						text-align: center;
						display: block;
						width: calc(100% - 1rem);
						margin: .5rem;
						line-height: 2rem;
						cursor: pointer;
					}
					
					.buttonAdd:hover {
						opacity: .8;
					}

					.disable,
					.disable:hover {
						cursor: not-allowed;
						opacity: .3;
					}